{"version":"14","kind":"package","package.json":{"date":"1980-01-01T00:00:00.000Z","name":"","modules":{"js_p:js/jquery":{"path":"js/jquery.js","kind":"package"},"js_p:js/html5shiv":{"path":"js/html5shiv.js","kind":"package"},"js_p:js/bootstrap.min":{"path":"js/bootstrap.min.js","kind":"package"},"js_p:js/respond.min":{"path":"js/respond.min.js","kind":"package"}}}}