{"version":"14","js/bootstrap.min.js":{"date":"1980-01-01T00:00:00.000Z","guid":"js_p:js/bootstrap.min","packageJSON":"package.json","kind":"package"},"js/respond.min.js":{"date":"1980-01-01T00:00:00.000Z","guid":"js_p:js/respond.min","packageJSON":"package.json","kind":"package"},"js/jquery.js":{"date":"1980-01-01T00:00:00.000Z","guid":"js_p:js/jquery","packageJSON":"package.json","kind":"package"},"js/html5shiv.js":{"date":"1980-01-01T00:00:00.000Z","guid":"js_p:js/html5shiv","packageJSON":"package.json","kind":"package"}}